ion-content {
   .error-message
   {
     color: red;
     font-size: 14px;
     margin-left: 10px;
     margin-top: 10px;
   }
 }

 
 .avatar{
    margin: auto;
    height:6rem;
    width:6rem;
 }

 .bgitem{
    --highlight-color-focused:none;
    --highlight-color-invalid:none;
    --highlight-color-valid :none;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .varitem{
   --highlight-color-focused:none;
   --highlight-color-invalid:none;
   --highlight-color-valid :none;
   
   border: 2px solid gray;
   border-radius: 5px;
 }