.bgitem{
    --border-color:#BFBFBF;
    --border-style:solid;
    --border-radius:20px;
    --border-width:1px;
    --highlight-color-focused:none;
    --highlight-color-invalid:none;
    --highlight-color-valid :none;
    margin-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
  
  }
  /* Set the width to the full container and center the content */
  .select-full-width {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important;
  }

  ion-content {
    .error-message
    {
      color: red;
      font-size: 14px;
      margin-left: 10px;
      margin-top: 10px;
    }

    .btncustom{
      padding-left: 10px;
      padding-right: 10px;
      --border-radius:20px;
      --border-width:1px;  
      height: 50px;
    }
  }