
 .avatar{
    margin: auto;
    height:6rem;
    width:6rem;
 }

 .bgitem{
    --highlight-color-focused:none;
    --highlight-color-invalid:none;
    --highlight-color-valid :none;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }