.tablestyle{
    border-radius: 10px; 
    position: relative; 
    
  }
  
  
  
  @media screen and (max-height: 768px) and (min-height: 768px) {
    .tableheight{
  
      min-height:600px;max-height:600px;overflow:scroll;
  
    }
  
  }
  
  @media only screen and (min-height: 568px) and (max-height: 767px) {
    .tableheight{
      min-height:350px;max-height:400px;overflow:scroll;
    }
  }
  
  @media only screen and (min-height: 823px) and (max-height: 823px) and (min-width: 411px) and (max-width: 411px){
    .tableheight{
      min-height:350px;max-height:400px;overflow:scroll;
    }
  }

  .brdr{
    background:  #4169E1;
   color: white; 
 }
 
 .itm:hover{
   color: #4169E1;
 }