
  ion-content {
    .error-message
    {
      color: red;
      font-size: 14px;
      margin-left: 10px;
      margin-top: 10px;
    }

    .btncustom{
      padding-left: 10px;
      padding-right: 10px;
      --border-radius:20px;
      --border-width:1px;  
      height: 50px;
    }
  }
  
  

  .avatar{
    margin: auto;
    height:12rem;
    width:12rem;
    margin-bottom: 20px;
    --border-radius:none;
 }

  .bgitem{
    --border-color:#BFBFBF;
    --border-style:solid;
    --border-radius:20px;
    --border-width:1px;
    --highlight-color-focused:none;
    --highlight-color-invalid:none;
    --highlight-color-valid :none;

    // --highlight-color-focused:none;
    // --highlight-color-invalid:none;
    // --highlight-color-valid :none;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }