  
  .bgitem{
    --border-color:#BFBFBF;
    --border-style:solid;
    --border-radius:20px;
    --border-width:1px;
    --highlight-color-focused:none;
    --highlight-color-invalid:none;
    --highlight-color-valid :none;

    // --highlight-color-focused:none;
    // --highlight-color-invalid:none;
    // --highlight-color-valid :none;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .btncustom{
    padding-left: 10px;
    padding-right: 10px;
    --border-radius:20px;
    --border-width:1px;  
    height: 50px;
  }

  .logo{
    margin-top: 60px;
    margin-bottom: 10px;
    max-height: 100px;
    max-width: 100%;
  }

  .content{
    vertical-align: middle;
  }

  .iconcolor{
     --ion-color:white;
  }

  .item-md.item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: #fff !important;
  }

  .bgcolor{
    --background : linear-gradient(#FF8C00,#FF4500);
  }





