
ion-slides {
  --bullet-background: white;
  --bullet-background-active: #407521;
}

.searchitem{
    --highlight-color-focused:none;
    --highlight-color-invalid:none;
    --highlight-color-valid :none;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  .logo{
    margin-top: 60px;
    margin-bottom: 10px;
    max-height: 100px;
    max-width: 100%;
  }

  .content{
    vertical-align: middle;
  }
  