ion-content {
    .error-message
    {
      color: red;
      font-size: 14px;
      margin-left: 10px;
      margin-top: 10px;
    }

    .btncustom{
      --border-radius:20px;
      --border-width:1px;  
      height: 50px;
    }
  }